# LAB: Utilizando Pandas con datos de oferta de departamentos en la CABA

## Introducción

El objetivo de este LAB es trabajar con los conceptos de agregación a través de `groupby` y `pivot tables` mencionadas en la sección teórica. 

> Para eso usaremos un dataset elaborado por el Gobierno de la Ciudad de Buenos Aires que releva el precio de oferta de venta de terrenos de la Ciudad Autónoma de Buenos Aires, representado en puntos de valor del suelo correspondientes a cada parcela. Con el fin de analizar el precio de oferta, se toma como unidad de referencia el precio del metro cuadrado (m2). Se utiliza el precio en dólares, puesto que ésta es la moneda que se usa en el mercado como referencia para este tipo de transacciones. Otras variables consideradas son las dimensiones, ubicación geográfica, y la normativa del Código de Planeamiento Urbano que rige la zona en que el terreno analizado se localiza. 

Pueden descargar el dataset y otros elaborados para los años 2001-2015 desde este [link](
https://data.buenosaires.gob.ar/dataset/departamentos-en-venta). En el pdf adjunto pueden encontrar una descripción sucinta de las variables relevadas.

Importamos los paquetes necesarios y cargamos los datos.

In [20]:
import numpy as np
import pandas as pd
from scipy import stats, integrate
import seaborn as sns
import matplotlib.pyplot as plt

In [21]:
df = pd.read_csv("ED_deptos_venta_2014.csv",encoding = "latin1", sep=";")

In [22]:
# Veamos los tipos de las columnas...
df.dtypes

CALLE          object
NUMERO          int64
M2              int64
DOLARES         int64
U_S_M2        float64
AMBIENTES       int64
ANTIGUEDAD    float64
ORIENT         object
BAULERA        object
COCHERA        object
BAÃ.OS          int64
LAVADERO       object
TERRAZA        object
BARRIO         object
COMUNA          int64
LON           float64
LAT           float64
dtype: object

In [24]:
# Revisamos que los datos se han importado correctamente
df.head()

,CALLE,NUMERO,M2,DOLARES,U_S_M2,AMBIENTES,ANTIGUEDAD,ORIENT,BAULERA,COCHERA,BAÃ.OS,LAVADERO,TERRAZA,BARRIO,COMUNA,LON,LAT
1,11 DE SEPTIEMBRE DE 1888,700,560,1270000,2267.9,5,20.0,FRENTE,Si,Si,4,No,Si,PALERMO,14,-58.439523,-34.570692
2,11 DE SEPTIEMBRE DE 1888,800,126,295000,2341.3,4,45.0,S/D,No,Si,0,No,No,PALERMO,14,-58.440256,-34.570313
3,11 DE SEPTIEMBRE DE 1888,900,109,320000,2935.8,4,20.0,FRENTE,Si,Si,3,Si,Si,PALERMO,14,-58.441321,-34.569487
4,11 DE SEPTIEMBRE DE 1888,900,150,400000,2666.7,4,37.0,FRENTE,Si,Si,2,Si,Si,PALERMO,14,-58.441321,-34.569487
5,11 DE SEPTIEMBRE DE 1888,900,270,950000,3518.5,4,30.0,FRENTE,No,No,3,No,Si,PALERMO,14,-58.441321,-34.569487

### 1. ¿Cuál es el valor promedio del metro cuadrado en la CABA?

In [27]:
df['U_S_M2'].mean()

2320.5095253065083

### 2. ¿Cómo es el precio promedio para cada cuartil de antigüedad de las viviendas en la CABA?

In [31]:
#df['ANTIGUEDAD']
df.groupby('ANTIGUEDAD').sum()

,NUMERO,M2,DOLARES,U_S_M2,AMBIENTES,BAÃ.OS,COMUNA,LON,LAT
ANTIGUEDAD,,,,,,,,,
0.0,3173246,83202,221132346,3789274.2,1931,1608,13064,-85855.820475,-50827.329315
1.0,390140,12910,34390319,477534.1,273,179,1661,-10578.627066,-6260.684532
2.0,480900,13870,41837784,558849.8,338,203,1925,-11806.137362,-6987.730658
3.0,405100,13707,47910400,515307.8,320,212,1608,-10402.630110,-6157.944161
4.0,532500,16416,54997160,600919.4,381,247,1984,-12389.965300,-7333.560478
5.0,608220,20011,59709099,732129.5,534,311,2523,-15488.470946,-9166.524449
6.0,350200,11098,32616100,405881.4,303,163,1424,-8591.925710,-5084.479827
7.0,244000,8037,23013990,292991.9,223,121,1072,-6312.419849,-3735.677781
8.0,238550,10816,32973300,366407.6,277,157,1242,-7656.181688,-4531.439950
9.0,76300,3429,11707500,113884.4,97,52,328,-2279.092874,-1349.215099
10.0,377900,14656,40322099,431886.5,357,183,1448,-9759.850500,-5777.355378
11.0,50820,2032,5498500,62887.1,56,34,219,-1344.030377,-795.521789
12.0,217000,7526,21465200,236136.9,206,123,910,-5084.743804,-3008.776902
13.0,71200,2039,5973500,69335.5,40,36,253,-1461.127096,-864.589437
14.0,104100,3620,9156400,108369.1,98,45,407,-2513.117580,-1487.225448
15.0,479900,22538,63494599,568885.4,547,252,2163,-12565.260840,-7436.328405
16.0,106500,7745,23866000,144294.4,154,95,518,-2921.830976,-1729.193991
17.0,95700,4499,13910300,104230.8,106,54,367,-2337.718541,-1383.828004
18.0,90700,6930,19069000,122785.1,136,73,453,-2863.383608,-1695.057476
19.0,25000,2239,5884000,34264.6,53,17,127,-759.822991,-449.717059
20.0,469300,24548,61879500,514456.8,550,326,2006,-12564.728269,-7437.694399
21.0,26700,2407,6364000,29687.8,48,22,127,-701.212997,-414.996737
22.0,45600,2132,5529000,42336.5,51,28,167,-1051.869722,-622.556830
23.0,26800,2398,6383900,40166.9,59,19,131,-935.037633,-553.541491
24.0,39520,2030,4945500,36779.2,46,33,148,-934.934383,-553.493946
25.0,582102,27832,68118850,616072.6,633,317,2406,-15837.712577,-9375.029749
26.0,56800,2775,5488999,51999.0,39,44,212,-1578.255107,-934.381613
27.0,54200,3606,8148000,69958.3,75,42,281,-1811.689462,-1072.407734
28.0,137900,6345,16370200,130173.7,134,78,542,-3331.167107,-1971.459891
29.0,44500,2207,5721700,43569.7,47,24,196,-1110.367860,-657.074771
...,...,...,...,...,...,...,...,...,...
66.0,400,87,125000,1436.8,3,0,15,-58.433581,-34.601544
67.0,5900,640,1398000,8130.4,19,3,33,-233.708133,-138.342541
68.0,2300,110,220000,2000.0,0,1,3,-58.399439,-34.604769
69.0,8200,233,438000,8004.6,7,4,24,-233.684536,-138.420247
70.0,304602,24032,50705600,346141.5,484,242,819,-10337.718049,-6124.852644
71.0,800,41,73000,1780.5,0,1,1,-58.378165,-34.601355
72.0,1500,72,120000,1666.7,0,1,1,-58.387879,-34.605499
73.0,4700,840,4530000,13191.8,10,10,5,-175.164613,-103.799950
74.0,12000,613,2139000,10078.8,11,5,35,-233.688394,-138.372960
75.0,31100,2796,5951500,49067.0,73,25,63,-1459.770349,-865.204080
76.0,3500,494,558000,2313.8,5,6,7,-116.775679,-69.253035
78.0,3300,135,179000,1325.9,4,3,3,-58.413366,-34.612737
80.0,155200,13413,29463800,222096.9,280,119,305,-6481.723269,-3841.489151
83.0,1900,449,1090000,4054.2,9,2,5,-116.800364,-69.206297
84.0,12400,757,1530000,11390.2,19,10,16,-350.415336,-207.669115
85.0,49400,3609,7565800,51109.3,68,18,101,-1518.511132,-899.670589
86.0,600,283,250000,883.4,6,3,3,-58.402465,-34.602131
88.0,700,150,198000,1320.0,5,2,5,-58.415478,-34.601760
90.0,89050,9999,18061900,121816.0,183,96,153,-3970.652387,-2353.534256
91.0,1900,301,690000,2292.4,5,0,2,-58.387180,-34.589005
95.0,2500,466,700814,4455.9,10,5,6,-175.131811,-103.849267
97.0,4800,291,398000,2627.4,3,1,7,-116.812252,-69.246768
98.0,3600,594,995000,6514.2,19,6,11,-233.609345,-138.419784
99.0,19300,2346,3780900,27369.8,24,24,21,-934.131500,-553.740710
100.0,15400,2901,5445000,24421.0,63,18,19,-817.407793,-484.504591
102.0,2900,198,330000,3300.2,0,2,2,-116.773757,-69.225127
105.0,3200,248,313500,2663.4,5,2,4,-116.778012,-69.219393
110.0,700,178,190000,1067.4,4,2,1,-58.376383,-34.608261
114.0,1500,185,217000,1173.0,0,2,1,-58.388059,-34.600783
115.0,900,160,284400,3475.6,0,2,2,-116.765565,-69.210211

In [45]:

cuartil = pd.qcut(df['ANTIGUEDAD'], 6)
df.groupby(cuartil)['DOLARES'].mean()

ANTIGUEDAD
(-0.001, 2.0]    160561.797516
(2.0, 15.0]      249291.370122
(15.0, 30.0]     250917.916080
(30.0, 40.0]     180525.217157
(40.0, 49.0]     180171.153285
(49.0, 115.0]    226394.370752
Name: DOLARES, dtype: float64

### 3. ¿Cómo es el precio promedio para cada decil de tamaño (columna M2)?

In [46]:
cuartil = pd.qcut(df['M2'], 5)
df.groupby(cuartil)['DOLARES'].mean()

M2
(13.999, 40.0]      78893.244436
(40.0, 55.0]       105573.041117
(55.0, 74.0]       142465.815340
(74.0, 115.0]      200881.402597
(115.0, 1500.0]    530029.402058
Name: DOLARES, dtype: float64

### 4. ¿Cuál es la media de precio por metro cuadrado para cada barrio de la CABA? Ordenar los datos para indicar cuál es el barrio más caro.
Nota: realizar el cálculo tanto con groupby como con pivot tables

In [47]:
df.groupby('BARRIO')['U_S_M2'].mean()

BARRIO
AGRONOMIA            2057.252381
ALMAGRO              2077.175568
BALVANERA            1802.993242
BARRACAS             2012.427797
BELGRANO             2611.026478
BOCA                 1564.545550
BOEDO                2006.131579
CABALLITO            2285.865212
CHACARITA            2184.093939
COGHLAN              2331.871429
COLEGIALES           2421.881746
CONSTITUCION         1587.878453
FLORES               1912.556360
FLORESTA             1793.823932
LINIERS              1861.123214
MATADEROS            1659.930208
MONTE CASTRO         1924.870192
MONTSERRAT           1838.775299
NUEVA POMPEYA        1520.626316
NUÃEZ               2670.226065
PALERMO              2944.154531
PARQUE AVELLANEDA    1689.954386
PARQUE CHACABUCO     2105.960769
PARQUE CHAS          2269.022535
PARQUE PATRICIOS     1812.826389
PATERNAL             1839.794118
PUERTO MADERO        5582.909615
RECOLETA             2748.067676
RETIRO               2811.813858
SAAVEDRA             2455.130702
SAN CRISTOBAL        1865.804500
SAN NICOLAS          2070.846863
SAN TELMO            2042.093651
VELEZ SARSFIELD      1784.857143
VERSALLES            1860.900000
VILLA CRESPO         2185.012876
VILLA DEL PARQUE     2004.857252
VILLA DEVOTO         2417.066327
VILLA GRAL. MITRE    1926.297638
VILLA LUGANO         1127.700000
VILLA LURO           1980.403636
VILLA ORTUZAR        2331.174265
VILLA PUEYRREDON     2222.173469
VILLA REAL           1775.055556
VILLA RIACHUELO      1761.620000
VILLA SANTA RITA     1843.269091
VILLA SOLDATI        1246.400000
VILLA URQUIZA        2343.938785
Name: U_S_M2, dtype: float64

In [48]:
df.groupby('BARRIO')['U_S_M2'].mean().sort_values(ascending = False).head()

BARRIO
PUERTO MADERO    5582.909615
PALERMO          2944.154531
RETIRO           2811.813858
RECOLETA         2748.067676
NUÃEZ           2670.226065
Name: U_S_M2, dtype: float64

In [50]:
df.pivot_table(index = 'BARRIO', aggfunc={'U_S_M2':'mean'}).sort_values(by='U_S_M2',ascending=False).head()

                    U_S_M2
BARRIO
PUERTO MADERO  5582.909615
PALERMO        2944.154531
RETIRO         2811.813858
RECOLETA       2748.067676
NUÃEZ         2670.226065

### 5. ¿En qué barrio hay una mayor dispersión de precios de metro cuadrado? Ordenar los valores para identificar el mayor.

(Recordar la fórmula del coeficiente de variación para medir la dispersión)

**Pistas**
* Una primera opción es definir una función con arrays y utilizar `.apply()`

In [62]:
df.groupby('BARRIO')['U_S_M2'].apply(lambda x : x.std() / x.mean() ).sort_values(ascending = False).head()

BARRIO
VILLA SOLDATI    0.405491
RETIRO           0.343333
VILLA LUGANO     0.325593
CONSTITUCION     0.314560
BARRACAS         0.314212
Name: U_S_M2, dtype: float64

In [73]:
def disper(x):
       return x['U_S_M2'].std() / x['U_S_M2'].mean()
       #return x.std() / x.mean()  

df['U_S_M2'].groupby('BARRIO').apply(disper).sort_values(ascending = False).head()

KeyError: 'BARRIO'

* Una segunda, es generar dos series: 
  - una con el método `.std()` y dividirla por otra serie generada con `mean()`

**Bonus:** ¿cuál le parece mejor y por qué?

### 6. ¿En qué barrio los departamentos son más grandes? 
Nota: se puede realizar el cálculo tanto con groupby como con pivot tables

In [56]:
df.groupby('BARRIO')['M2'].mean().sort_values(ascending = False).head()

BARRIO
PUERTO MADERO    169.980769
RETIRO           148.831461
PALERMO          130.175833
RECOLETA         125.669189
BELGRANO          99.196429
Name: M2, dtype: float64

### 7. En general, puede observarse alguna diferencia entre el precio mediano de aquellos departamentos que tienen terraza y los que no? ¿Y en el tamaño?

### 8. Genere un `DataFrame` que agregue la información del precio por M2 (`U_S_M2`), ambientes (`AMBIENTES`) y antigüedad (`ANTIGUEDAD`) a nivel de `COMUNA` y barrio (`BARRIO`). Proporcione información tanto de la tendencia central como de la dispersión de ambas distribuciones.