## Lab: Datasets & NumPy - csv's, funciones, numpy y distribuciones

Ejecuta la celda de abajo para cargar los paquetes requeridos

In [2]:
import numpy as np
import scipy.stats as stats
import csv
import seaborn as sns
import pandas as pd
%matplotlib inline

### Datos de ventas

Para este Lab vamos a usar una versión resumida de un dataset que contiente información sobre ventas de establecimientos económicos que analizaremos en detalle más adelante.

El csv tiene alrededor de 200 filas de datos y 4 columnas. El path especificado del csv ```sales_info.csv``` asume que se encuentra en el mismo directorio que la presente notebook. En caso que lo hayas descargado en otro directorio deberás hacer referencia de manera relativa o absoluta (googlear linux path examples relative / absolute).

#### 1. Carga de datos

Utilizar el método ```read_csv``` de la librería Pandas para crear un dataframe a partir del archivo.

In [3]:
sales = pd.read_csv('../Data/sales_info.csv')

In [4]:
sales.head()

   volume_sold  2015_margin  2015_q1_sales  2016_q1_sales
0    18.420760    93.802281      337166.53      337804.05
1     4.776510    21.082425       22351.86       21736.63
2    16.602401    93.612494      277764.46      306942.27
3     4.296111    16.824704       16805.11        9307.75
4     8.156023    35.011457       54411.42       58939.90

#### 2. Transformar la serie en un array de numpy

Utilizar el método ```np.array()``` transformar la serie "volume_sold" del dataframe generado en un array de numpy

In [5]:
volume_sold = np.array(sales["volume_sold"])

In [6]:
volume_sold

array([18.42076049,  4.77650992, 16.60240061,  4.2961115 ,  8.15602328,
        5.00512243, 14.60675   ,  4.45646649,  5.04752965,  5.38807024,
        9.34734863, 10.93039773,  6.2702086 , 12.39591912,  4.5577119 ,
        4.20012243, 10.25286989, 12.07678476,  3.72509524,  3.21072663,
        6.29097143,  7.43482132,  4.37622478, 12.98891278, 11.69745575,
        5.96517513,  3.94522273,  7.36958531,  7.34350883, 12.35002735,
        8.41791968, 10.26083617,  7.8243537 , 10.33143005, 12.5284878 ,
       18.74475053,  6.65773264, 10.63212894,  6.92770423,  6.61817422,
        7.12444444,  9.84966032, 11.50583776,  6.30981315, 10.18662198,
       10.12217933, 10.8003469 ,  7.26782845, 10.67371667,  9.15026866,
        8.12418188,  6.2757997 , 10.67729533,  5.88898829, 10.64017145,
        4.75559643, 10.24688407, 10.29268081,  4.41819549,  7.10134735,
        8.00611902,  7.79050338, 11.12938226,  9.34847654,  6.31088644,
       11.62560606,  6.65440718,  7.93041477,  9.00356232, 14.43943538,
       11.01154049,  5.72389564,  7.77732012,  4.75918373,  7.78586692,
        5.03499141, 11.68450984,  5.1477291 , 10.08603038,  7.94465682,
        5.29439979, 11.8265363 ,  6.30092587,  8.64269488,  6.04822839,
        9.47492914,  3.99185767,  8.59207381,  7.21148957,  8.19108557,
        7.6953116 , 13.63515001,  6.96681682, 11.23232377,  5.09546375,
       11.93688366,  5.90627376,  9.12709469,  7.75445727,  7.58599675,
        7.43725208,  9.87989008,  9.30319389,  9.21365051,  5.18177205,
        8.55507775,  5.7812659 ,  8.07102301, 10.12500327, 11.01965167,
        8.17666775,  9.42171292,  4.85870922,  9.31378526,  8.30018037,
        6.50688777,  9.58520997, 12.45572275,  8.09288313,  8.68651838,
        8.34731753,  9.29224056,  9.77711182, 29.87803004,  8.78393692,
       11.97576852, 11.14010214,  7.56054882,  7.39098799,  6.43360589,
       13.79997745,  6.44703955,  8.01794478,  6.25535543,  9.69742182,
        7.77268351,  8.75192031,  6.79288938,  7.68249438,  4.38545512,
        3.6067102 ,  8.45364706,  5.21488186,  8.4005615 ,  6.84136328,
       12.50996726,  9.01487006,  7.20036425,  5.77809677,  4.94129393,
        6.0004507 , 11.99711748, 10.63776912,  8.5642281 ,  8.62268641,
        4.83114713, 10.2701849 , 12.58169456, 16.05997067, 11.86773859,
       10.29450113,  4.17606557,  9.36189873, 11.09170854,  5.32449664,
        6.63090439,  8.58392405,  5.53106109,  6.1391231 ,  8.47737603,
        8.44393241,  5.15196394,  6.53706865,  8.50044524,  3.93154327,
        6.16368914,  4.90444712,  7.40241271, 47.50326923, 55.73918009,
       11.84078032,  7.00229358,  8.75314207,  3.1477413 ,  7.19677879,
       76.20369181, 10.80433711, 10.70532705, 51.80068627,  5.88277872,
        6.68640645,  5.83335488, 45.55609564,  5.17260575, 10.11801802,
       51.67553742,  2.7946315 ,  7.6116978 , 15.69765127, 50.27589322])

##### 3. Imprimir los 10 primeros items de la columna 'volume_sold' utilizando "array slicing".

In [7]:
volume_sold[0:10]

array([18.42076049,  4.77650992, 16.60240061,  4.2961115 ,  8.15602328,
        5.00512243, 14.60675   ,  4.45646649,  5.04752965,  5.38807024])

#### 4.  Imprimir el tipo de dato del array

Utilizar la propiedad de los arrays dtype para conocer el tipo de dato del array

In [8]:
volume_sold.dtype

dtype('float64')

#### 5. Escribir una función para imprimir la información resumida

La función debería:

- Tomar dos parámetros: el nombre de la columna y los datos (el dataframe)
- Imprimir la información, indicando de forma clara en qué consiste cada item que se imprime:
    1. Imprimir el nombre de la columna
    2. Imprimir la media de los datos usando ```np.mean()```
    3. Imprimir la mediana de los datos usando ```np.median()``` 
    4. Imprimir la moda de los datos redondeados usando ```stats.mode()```
    5. Imprimir la varianza de los datos usando ```np.var()```
    6. Imprimir el desvío estándar de los datos usando ```np.std()```

In [9]:
def info_resumen(columna, framededatos):
    array = np.array(framededatos[columna])
    print('El nombre de la columna es {}'.format(column))
    print('La media de los datos es {:.2f}'.format(np.mean(array)))
    print('La mediana de los datos es {:.2f}'.format(np.median(array)))
    print('La moda de los datos es {}'.format(stats.mode(np.round(array,0))[0][0]))
    print('La varianza de los datos es {:.2f}'.format(np.var(array)))
    print('El desvio std de los datos es {:.2f}'.format(np.std(array)))

##### **5.A** Usando la función definida, imprimir las medidas para 'volume_sold'

In [10]:
info_resumen('volume_sold', sales)

NameError: name 'column' is not defined

##### **5.B** Usando la función definida, imprimir las medidas para '2015_margin'

In [ ]:
info_resumen('2015_margin', sales)

##### **5.C** Usando la función definida, imprimir las medidas para '2015_q1_sales'

In [ ]:
info_resumen('2015_q1_sales', sales)

##### **5.D** Usando la función definida, imprimir las medidas para '2016_q1_sales'

In [ ]:
info_resumen('2016_q1_sales', sales)

#### 6. Graficar las distribuciones

Hemos provisto una función para graficar más abajo llamado ```distribution_plotter()```. Toma dos parámetros, el nombre de la columna y los datos asociados a dicha columna.

En celdas individuales, graficar las distribuciones de cada una de las 4 columnas. ¿Los datos son asimétricos? ¿simétricos?

In [ ]:
def distribution_plotter(column, dataframe):
    data = np.array(dataframe[column])
    sns.set(rc={"figure.figsize": (10, 7)})
    sns.set_style("white")
    dist = sns.distplot(data, hist_kws={'alpha':0.2}, kde_kws={'linewidth':5})
    dist.set_title('Distribucion de ' + column + '\n', fontsize=16)